// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

/**
 * @author Coll@Aldernativ
 * @version 0.1a
 * @Programmer Kevin Kazemali, Maximilian Schubert
 */


$v-app-loading-text: "Coll@Aldernativ";
$v-background-color: #e3eeff;
$v-app-background-color: #a7b6ff;
//$v-panel-background-color: #869aff;
$v-focus-color: #c3caff; //a8b3ff
$v-font-color: #32373a;
$mat-custom-color: #fff;
/*
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 1px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 13px;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-unit-size: 30px;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 4px;
$v-selection-item-border-radius: 0;
**/

@import "../valo/valo.scss";
//@import "../material/material.scss";

@mixin mytheme {
  @include valo;
  //@include material;

  .v-image-logo {
    cursor: pointer;
  }

  .profileImages {
    max-width: 200px;
    margin: 15px 15px 0 0;
    height: auto;
    overflow: hidden !important;
    border: #32373a;
  }

  .profileview {
    height: 100vh;
    color: #fff;
  }

  .v-verticallayout-profile-components > .v-slot {
    padding: 10px 0;
  }

  .profileview-gridlayout .v-gridlayout-spacing-on {
    height: 10px;
  }

  .profileview .profileImages {
    border-radius: 3px;
  }

  .profile-components {
    background: #fff;
    color: #32373a;
  }

  .profilebody-components .v-gridlayout-spacing-on {
    height: 10px;
  }

  span.v-icon {
    margin-right: 5px;
  }

  .profile-components .v-icon {
    color: #0072C6;
  }

  .v-panel-caption-student-panel > span {
    font-size: 24px;
  }

  .gridPadding {
    padding: 20px;
  }

}
